		<ul class="collapsible">
          <li>	  
		  
            <a class="collapsible-header">Grid<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>

				<div class="lyrow ui-draggable">
				  <a href="#close" class="remove">
					<i class="tiny material-icons red-text">delete</i>
				  </a>
					<span class="drag waves-effect waves-light red-text"><i class="tiny material-icons">zoom_out_map</i></span>

				  <div class="preview">
					<input value="12" class="form-control" type="text"></div>
				  <div class="view">
					<div class="row">
					  <div class="col s12"></div>
					</div>
				  </div>
				</div>

				<div class="lyrow ui-draggable">
				  <a href="#close" class="remove">
					<i class="tiny material-icons red-text">delete</i>
				  </a>
					<span class="drag waves-effect waves-light red-text"><i class="tiny material-icons">zoom_out_map</i></span>

				  <div class="preview">
					<input value="6 6" class="form-control" type="text"></div>
				  <div class="view">
					<div class="row">
					  <div class="col s12 m6 l6"></div>
					  <div class="col s12 m6 l6"></div>
					</div>
				  </div>
				</div>

				<div class="lyrow ui-draggable">
				  <a href="#close" class="remove">
					<i class="tiny material-icons red-text">delete</i>
				  </a>
					<span class="drag waves-effect waves-light red-text"><i class="tiny material-icons">zoom_out_map</i></span>

				  <div class="preview">
					<input value="8 4" class="form-control" type="text"></div>
				  <div class="view">
					<div class="row">
					  <div class="col s12 m8 l8"></div>
					  <div class="col s12 m4 l4"></div>
					</div>
				  </div>
				</div>

				<div class="lyrow ui-draggable">
				  <a href="#close" class="remove">
					<i class="tiny material-icons red-text">delete</i>
				  </a>
					<span class="drag waves-effect waves-light red-text"><i class="tiny material-icons">zoom_out_map</i></span>

				  <div class="preview">
					<input value="4 4 4" class="form-control" type="text"></div>
				  <div class="view">
					<div class="row">
					  <div class="col s12 m12 l4"></div>
					  <div class="col s12 m12 l4"></div>
					  <div class="col s12 m12 l4"></div>
					</div>
				  </div>
				</div>

				<div class="lyrow ui-draggable">
				  <a href="#close" class="remove">
					<i class="tiny material-icons red-text">delete</i>
				  </a>
					<span class="drag waves-effect waves-light red-text"><i class="tiny material-icons">zoom_out_map</i></span>

				  <div class="preview">
					<input value="2 6 4" class="form-control" type="text"></div>
				  <div class="view">
					<div class="row">
					  <div class="col s12 m2 l2"></div>
					  <div class="col s12 m6 l6"></div>
					  <div class="col s12 m4 l4"></div>
					</div>
				  </div>
				</div>

              </ul>
            </div>
          </li>
        </ul>